COMPOSE_PROJECT_NAME=gcp-sap-mock

POSTGRES_DB=integration
POSTGRES_USER=integration
POSTGRES_PASSWORD=integration
POSTGRES_PORT=5432

KAFKA_EXTERNAL_PORT=9092
KAFKA_K8S_PORT=9094
KAFKA_JMX_PORT=9101
KAFKA_UI_PORT=8085

SAP_MOCK_API_PORT=8080
INGESTION_API_PORT=8081
EVENT_PROCESSOR_PORT=8082
QUERY_API_PORT=8083
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000

LOG_LEVEL=info
AUTO_DISPATCH=false
INGESTION_SOURCE_SYSTEM=sap-s4hana
PROCESSOR_RETRY_MAX_ATTEMPTS=3
PROCESSOR_RETRY_BACKOFF=2s
DEFAULT_PAGE_SIZE=20
MAX_PAGE_SIZE=100

LOCAL_KAFKA_SERVICE=kafka
LOCAL_POSTGRES_SERVICE=postgres
LOCAL_K8S_NODE_IP=127.0.0.1
LOCAL_KAFKA_BOOTSTRAP_SERVER=localhost:9092
LOCAL_KAFKA_K8S_BOOTSTRAP_SERVER=127.0.0.1:9094
LOCAL_KAFKA_INTERNAL_BOOTSTRAP_SERVER=kafka:29092
LOCAL_POSTGRES_URL=postgres://integration:integration@localhost:5432/integration?sslmode=disable

SAP_MOCK_API_URL=http://localhost:8080
INGESTION_API_URL=http://localhost:8081
EVENT_PROCESSOR_URL=http://localhost:8082
QUERY_API_URL=http://localhost:8083
KAFKA_UI_URL=http://localhost:8085
PROMETHEUS_URL=http://localhost:9090
GRAFANA_URL=http://localhost:3000
