SERVICE_NAME=ingestion-api
ENVIRONMENT=local
LOG_LEVEL=info
PORT=8081
KAFKA_BROKERS=localhost:9092
KAFKA_AUTH_MODE=none
KAFKA_TLS_ENABLED=false
KAFKA_TLS_INSECURE_SKIP_VERIFY=false
KAFKA_TLS_SERVER_NAME=
KAFKA_TLS_CA_CERT_FILE=
KAFKA_SASL_USERNAME=
KAFKA_SASL_PASSWORD=
KAFKA_GCP_PRINCIPAL_EMAIL=
KAFKA_GCP_ACCESS_TOKEN_SCOPE=https://www.googleapis.com/auth/cloud-platform
KAFKA_CLIENT_ID=ingestion-api
KAFKA_WRITE_TIMEOUT=5s
INGESTION_SOURCE_SYSTEM=sap-s4hana
HTTP_READ_TIMEOUT=5s
HTTP_WRITE_TIMEOUT=10s
HTTP_IDLE_TIMEOUT=30s
