SERVICE_NAME=ingestion-api
ENVIRONMENT=local
LOG_LEVEL=info
PORT=8081
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=ingestion-api
KAFKA_WRITE_TIMEOUT=5s
INGESTION_SOURCE_SYSTEM=sap-s4hana
HTTP_READ_TIMEOUT=5s
HTTP_WRITE_TIMEOUT=10s
HTTP_IDLE_TIMEOUT=30s
