SERVICE_NAME=sap-mock-api
ENVIRONMENT=local
LOG_LEVEL=info
PORT=8080
INGESTION_API_BASE_URL=http://localhost:8081
AUTO_DISPATCH=false
DISPATCH_TIMEOUT=5s
HTTP_READ_TIMEOUT=5s
HTTP_WRITE_TIMEOUT=10s
HTTP_IDLE_TIMEOUT=30s
